/* Universal Styles */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.flex {
  display:flex;

}
div {
  display: block;

}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

/* Header */

header {
  font-size: 20px;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
}

header nav {
  font-size: 18px;
  margin-right: 24px;
}

header .flex {
  align-items: center;
  Height: 64px;
  width: 100%;
  justify-content: space-between;
}

nav a {
  padding-left: 16px;
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  padding-left: 24px;
  align-items: center;
}

.logo img{
  height: 50px;
}

.logotext-academy {
  color: #9a9b9a;
}

.logo-text-colmar {
  font-weight: 600;
}

/* banner */

.banner {
  padding-top: 64px;
  background-color: #d9d8d9;
}

.banner-image {
  width: 60%;
  margin: 32px 36px 32px 24px;
}

.banner img {
  width: 100%;
}

.banner-message {
  flex-direction: column;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  color: #4a4a4a
}

.banner-text {
  text-align: left;
  padding-right: 15%;
}

.banner-text p {
  margin-top: 24px;
  padding: 8px 0px;
  width: 100%;
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  line-height: 2rem;
  border: 2px solid #4a4a4a;
  border-radius: 2px;
}

.banner h1 {
  line-height: 3rem;
}

.banner h2 {
  line-height: 2rem;
}

/* Pratice Section */

.practice-image-section {
  width: 60%;
  margin: 32px 36px 32px 24px;
}

.practice-image-section img {
  width: 100%;
}

.practice h1 {
  padding-top: 32px;
  color: #4a4a4a;
}

.practice h6 {
  color: #676768;
  margin-bottom: 2rem;
}

.quote {
  font-size: 14px;
  color: #8a8a8b;
  line-height: 1.5rem;
  margin-bottom: 32px;
}

.practice-trio-section {
  flex-direction: column;
  margin-top: 16px;
  width: 40%;
}

.trio-image {
  float: left;
  width: 40%;
  padding: 16px 0;
  margin-left: 5%;
  margin-right: 5%;
}

.lecture {
  background-color: #d9d8d9;
}

.trio-image img {
  float: left;
  width: 100%;
  height: auto;
}

.trio-text {
  width: 60%;
  padding-left: 0rem;
  line-height: 2rem;
}

.trio-text p{
  color: #8a8a8b;
}

.trio-text a{
  color: #7aa8de;
  text-decoration: none;
}
